/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
  .container h1{
    font-size: 32px;
  }
  .heading h2 {
    font-size: 20px;
  }
  .member{
    width:50%;
    margin-bottom: 50px;
  }
  .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .navbar-expand-md .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .text-sm-left {
    text-align: left !important;
  }
  .header-right {
    display: none;
  }

  .container span{
    display: block;
  }
  
  .top-wrapper {
    text-align: left;
  }
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .btn{
    width:100%;
  }

  .facebook{
    margin-bottom:10px;
  }
  .member-wrapper {
    text-align: center;
  }
  .member{
    width:100%;
  }
  footer {
    text-align: center;
  }
}